# Server
DATABASE_URL="postgresql://zerobait:zerobait@localhost:5432/zerobait?schema=public"
PORT=4000
JWT_SECRET=change-me-in-prod

# Google Gemini (required for AI summary)
GEMINI_API_KEY="xxx"
# Optional: gemini-1.5-pro-latest | gemini-1.5-flash-latest
GEMINI_MODEL=gemini-2.5-flash

# External Threat Intel Providers (optional but recommended)
VIRUSTOTAL_API_KEY="xxx"
GOOGLE_SAFE_BROWSING_API_KEY="xxx"
WHOISXML_API_KEY="xxx"
URLSCAN_API_KEY="xxx"