@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply font-display bg-background-light dark:bg-background-dark text-white;
}

#root {
  min-height: 100vh;
}